<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path('app_main_interface') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo">
            </a>
        </header>
        {% block body %}{% endblock %}
        <div class="auth-status">
            {% if user_session.user_id and user_session.user_name %}
                <span class="status-text">@{{ user_session.user_name }}</span>
                <a href="/profile={{ user_session.user_id }}" class="btn btn-primary">Profil</a>
                {% if app.request.attributes.get('_route') == 'app_main_interface' %}
                    <a href="/" id="showPostCreation" class="btn btn-success">Nouveau post</a>
                {% endif %}
                <a href="/logout" class="btn btn-danger">Se déconnecter</a>
            {% else %}
                <span class="status-text">Non-connecté</span>
                <a href="/register" class="btn btn-primary">Authentification</a>
            {% endif %}
        </div>
    </body>
</html>
